body{
	background-color: darkgray;
}

.head{
	padding: 20px;
	border-bottom: 7px solid black;
	margin-bottom: 40px;
}

.input-field{
	padding-top: 20px;
	padding-left: 15%;
	padding-right: 20%;
	padding-bottom: 20px;
}

.result-display{
	padding-left: 25%;
	padding-right: 20%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: slategrey;
}

.hidden{
	display: none;
}
